.searchBar {
  text-align: center;
  background-color: #170c17;
  padding: 2em;
  display: block;
  justify-content: center;
}
.searchBar h2 {
  color: aliceblue;
}
input {
  padding: 10px; /* Set padding for better appearance */
  border: 1px solid #ccc; /* Add a border to the input */
  border-radius: 5px; /* Add rounded corners */
  font-size: 14px; /* Set the font size */
  color: #333; /* Set text color */
}

/* Apply styles when the input is focused */
input:focus {
  border-color: #b200df; /* Change border color on focus */
  box-shadow: 0 0 5px rgba(171, 49, 196, 0.5); /* Add a subtle box shadow on focus */
  outline: none; /* Remove the default focus outline */
}
button {
  padding: 10px 15px; /* Set padding for better appearance */
  font-size: 16px; /* Set the font size */
  color: #fff; /* Set text color */
  background-color: #b014f8; /* Set background color */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
}

/* Apply styles when the button is hovered */
button:hover {
  background-color: #c000c0; /* Darken the background color on hover */
}

/* Apply styles when the button is clicked */
button:active {
  transform: translateY(
    1px
  ); /* Add a slight downward shift on click for a button press effect */
}
